<div class="lista-produto">
    <dx-data-grid [dataSource]="produtos" keyExpr="id" [showBorders]="true" [columnAutoWidth]="true"
        [focusedRowEnabled]="true" [focusedRowIndex]="0" 
        [focusedRowKey]="rowFocoKey"
        (onRowUpdating)="editaProduto($event)"
        (onRowRemoving)="deletaProduto($event)" (onToolbarPreparing)="modificaToolbar($event)">

        <dxo-filter-row [visible]="true"></dxo-filter-row>

        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30]"></dxo-pager>

        <dxo-editing [texts]="textoAcoes" width="200" mode="row" [allowUpdating]="true"
            [allowDeleting]="true"></dxo-editing>

        <dxi-column dataField="id" caption="Id" width="225"  alignment="left" [allowEditing]="false"></dxi-column>

        <dxi-column dataField="nome" caption="Nome" width="225" ></dxi-column>

        <dxi-column dataField="preco" caption="Preço" width="225" [format]=" {type: 'currency', currency: 'BRL' }" 
            alignment="left"></dxi-column>

    </dx-data-grid>

    <dx-popup [visible]="popupCadastroProduto" title="Cadastro de produto" [width]="600" [height]="400"
        [dragEnabled]="false" [closeOnOutsideClick]="true" [showCloseButton]="true" (onHiding)="fechaPopup()">
        <app-cadastra-produto (idProdutoCadastrado)="focoProdutoCadastrado($event)"></app-cadastra-produto>
    </dx-popup>
</div>