<div class="nota">

    <div class="dados__nota">
        <div class="dt__cliente">

            <div class="data__emissao">

                <h2>Data de emissão</h2>

                <dx-date-box type="date" [value]="dataHoje" width="170"
                    [inputAttr]="{ 'aria-label': 'Date' }"></dx-date-box>
            </div>

            <div class="cliente">

                <h2>Cliente</h2>

                <dx-select-box [(value)]="clienteSelecionado" width="300" [items]="clientes" displayExpr="nome"
                    placeholder="Selecione um Cliente" [searchEnabled]="true">

                    <dx-validator>
                        <dxi-validation-rule type="required"
                            message="Por favor, selecione um cliente."></dxi-validation-rule>
                    </dx-validator>

                </dx-select-box>
            </div>
        </div>


        <!---->

        <div class="itens">

            <h2>Itens</h2>

            <dx-data-grid [dataSource]="itensFormDataSource" [showBorders]="true" [columnAutoWidth]="true"
                (onSaving)="addItem($event)" (onSaved)="limpaCamposItem()" (onRowRemoving)="deletaItem($event)">

                <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true"
                    [useIcons]="true"></dxo-editing>



                <dxi-column caption="Produto" dataField="produto.nome" editCellTemplate="produto">
                    <dxi-validation-rule type="required" message="Selecione um produto"></dxi-validation-rule>
                </dxi-column>

                <dxi-column caption="Preço Unitário" dataField="precoUnitario" editCellTemplate="precoUnit"
                    [format]=" {type: 'currency', currency: 'BRL' }" hidingPriority="1">
                    <dxi-validation-rule type="required" message="O preço é obrigatório"></dxi-validation-rule>

                </dxi-column>

                <dxi-column caption="Quantidade" dataField="quantidade" editCellTemplate="qtdProduto">
                    <dxi-validation-rule type="required" message="Digite a quantidade"></dxi-validation-rule>

                </dxi-column>

                <dxi-column caption="Valor Total" dataField="valorTotal" editCellTemplate="valorTot"
                    [format]=" {type: 'currency', currency: 'BRL' }">
                    <dxi-validation-rule type="required" message="O valor total é obrigatório"></dxi-validation-rule>

                </dxi-column>


                <dxi-column type="buttons" [width]="110" >
                    <dxi-button name="edit"></dxi-button>
                    <dxi-button name="delete"></dxi-button>
                </dxi-column>

                <dxo-toolbar>
                    <dxi-item name="addRowButton" showText="always" [options]="{text: 'novo item'}"></dxi-item>
                </dxo-toolbar>

                <div *dxTemplate="let selectPdt of 'produto'">
                    <dx-select-box [items]="produtos" [(value)]="produtoSelecionado" displayExpr="nome"
                        placeholder="Selecione um produto" [searchEnabled]="true"
                        (onValueChanged)="mostraPrecoUnit($event, selectPdt.row.data)">
                    </dx-select-box>
                </div>

                <div *dxTemplate="let preco of 'precoUnit'">
                    <dx-number-box [(value)]="precoUnit" [readOnly]="true" format="R$ #,##0.##" currency="BRL">
                    </dx-number-box>

                </div>

                <div *dxTemplate="let qtd of 'qtdProduto'">
                    <dx-number-box [(value)]="qtdProduto" format="#" [min]="1"
                        [inputAttr]="{ 'aria-label': 'Integer Format'}" (onChange)="calculaValorItem(qtd.row.data)">
                    </dx-number-box>
                </div>


                <div *dxTemplate="let valorT of 'valorTot'">
                    <dx-number-box [(value)]="valorTotalItem" format="R$ #,##0.##" [readOnly]="true"
                        [inputAttr]="{ 'aria-label': 'Currency Format' }">
                    </dx-number-box>
                </div>

            </dx-data-grid>

        </div>

    </div>

    <div class="valor__tot__emit">
        <dx-number-box label="Valor da nota" [width]="150" labelMode="outside" format="R$ #,##0.##" currency="BRL"
            [(value)]="valorTotalNota" [readOnly]="true">
        </dx-number-box>

        <dx-button class="btn__add__item" [width]="200" text="Emitir nota" (onClick)="emiteNota()"
            stylingMode="outlined" type="success"></dx-button>
    </div>
</div>