<div class="nota">
    <div class="cadastra__nota">
        <h1>Cadastro de Nota Fiscal</h1>

        <h2>Data de emissão</h2>

        <div class="data__emissao">
            <dx-date-box type="date" [value]="dataHoje" [inputAttr]="{ 'aria-label': 'Date' }"
                [readOnly]="true"></dx-date-box>
        </div>

        <h2>Cliente</h2>

        <div class="cliente">
            <dx-select-box [(value)]="clienteSelecionado" [items]="clientes" displayExpr="nome"
                placeholder="Selecione um Cliente" [searchEnabled]="true">
            
                <dx-validator>
                    <dxi-validation-rule 
                      type="required" 
                      message="Por favor, selecione um cliente."></dxi-validation-rule>
                  </dx-validator>
            
            </dx-select-box>
        </div>

        <div class="form">

            <h2>Itens</h2>

            <div *ngIf="semItens" class="aviso__itens" >
                Deve conter ao menos 1 item na nota!
            </div>

            <dx-select-box label="Produto" labelMode="outside" [(value)]="produtoSelecionado" [items]="produtos"
                displayExpr="nome" placeholder="Selecione um produto" [searchEnabled]="true"
                (onValueChanged)="mostraPrecoUnit($event)">
            </dx-select-box>

            <dx-number-box label="Preço unitário" labelMode="outside" format="R$ #,##0.##" [value]="precoUnit"
                [readOnly]="true">
            </dx-number-box>

            <dx-number-box #qtd [(value)]="qtdProduto" label="Quantidade" labelMode="outside"
                (onChange)="calculaValorTotItem()" format="#" [min]="1" [inputAttr]="{ 'aria-label': 'Integer Format'}">
            </dx-number-box>

            <dx-number-box label="Valor total" labelMode="outside" format="R$ #,##0.##" [value]="valorTotalItem"
                [readOnly]="true"></dx-number-box>

            <dx-button class="btn__add__item" text="Adicionar" (onClick)="adicionaItem()" stylingMode="outlined"
                type="normal"></dx-button>
        </div>

        <div class="list__item">

            <dx-list *ngIf="itens.length > 0 " [items]="itens" height="100%" [allowItemDeleting]="true"
                [itemDeleteMode]="'static'" (onItemDeleted)="subtraiItemNota($event)">

                <div class="item" *dxTemplate="let item of 'item'">

                    <div class="dados">
                        <div class="dado__item">
                            <span>Produto:</span> {{item.produto.nome}}
                        </div>

                        <div class="dado__item">
                            <span>Preço unitário: </span> {{ item.produto.preco | currency}}
                        </div>

                        <div class="dado__item">
                            <span>Quantidade: </span> {{ item.quantidade }}
                        </div>

                        <div class="dado__item">
                            <span>Total: </span> {{ item.valorTotal | currency}}
                        </div>
                    </div>
                </div>
            </dx-list>

        </div>

        <div class="valor__nota">
            <dx-number-box label="Valor da nota" labelMode="outside" format="R$ #,##0.##" currency="BRL" [(value)]="valorTotalNota"
                [readOnly]="true">
            </dx-number-box>
        </div>

        <dx-button class="btn__add__item" text="Emitir nota" (onClick)="emiteNota()" stylingMode="outlined"
            type="success"></dx-button>
    </div>

    <dx-popup [(visible)]="verPopupOK" title="Status" [width]="350" [height]="200" [dragEnabled]="false"
        [closeOnOutsideClick]="true" [showCloseButton]="true">
        <p class="text__popup">Nota cadastrada com sucesso!</p>
    </dx-popup>

    <dx-popup [(visible)]="verPopupFalha" title="Status" [width]="350" [height]="200" [dragEnabled]="false"
        [closeOnOutsideClick]="true" [showCloseButton]="true">
        <p class="text__popup falha">Falha ao cadastrar Nota!</p>
    </dx-popup>

</div>