<div class="lista-cliente">
    <dx-data-grid [dataSource]="clientes" keyExpr="id" [showBorders]="true"
        [columnAutoWidth]="true" [focusedRowEnabled]="true" [focusedRowIndex]="rowFoco"
        (onRowUpdating)="editaCliente($event)" (onRowRemoving)="deletaCliente($event)"
        (onInitNewRow)="cadastraCliente($event)">

        <dxo-filter-row [visible]="true"></dxo-filter-row>

        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30]"></dxo-pager>

        <dxo-editing [texts]="textosAcoes" mode="row" [allowUpdating]="true" [allowDeleting]="true"
            [allowAdding]="existemDados">
        </dxo-editing>

        <dxi-column width="300" alignment="left" caption="Id" dataField="id" [allowEditing]="false"></dxi-column>

        <dxi-column width="300" caption="Nome" dataField="nome"></dxi-column>

    </dx-data-grid>
</div>