.lista-cliente{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

dx-data-grid{
    width: auto;
    max-width: 860px;
}

.dx-overlay-content.dx-popup {
    max-width: 400px; 
    width: 400px;     
}

